@model FuelQuoteApplication14.Models.Quote 

@{
    ViewData["Title"] = "QuoteGeneratorView";
    Layout = "~/Views/Client/Client_layout.cshtml";
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            background-color: white;
        }

        form {
            border: 3px solid #000000;
            background-color: #FFFFFFAA;
            width: 80%;
            margin: 50px;
            padding: 30px;
        }

        * {
            box-sizing: border-box;
        }

        main {
            padding-left: 17.5%;
        }
        /* Add padding to containers */
        .container {
            background-color: white;
        }

        /* Full-width input fields */
        input[type=text], input[type=password],input[type=number] {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }

        #date {
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            background: #f1f1f1;
        }
            input[type=text]:focus, input[type=password]:focus {
                background-color: #ddd;
                outline: none;
            }

        /* Overwrite default styles of hr */
        hr {
            border: 1px solid #f1f1f1;
            margin-bottom: 25px;
        }

        /* Set a style for the submit button */
        .registerbtn {
            background-color: #04AA6D;
            color: white;
            padding: 14px 20px;
            margin: 8px 180px;
            border: none;
            cursor: pointer;
            width: 60%;
            float: center;
        }
    </style>


</head>
<body>
    @using (Html.BeginForm("Quote_save", "Quote", FormMethod.Post))
    {


        <p>Please fill in the below details to generate quote</p>

        <label for="gallonsrequested"><b>Gallons Requested</b></label>
        <br>
        <input type="number" placeholder="Enter number of gallons required" name="gallonsrequested" id="gallonsrequested1" onChange="totalamount();" min="1" required>
        <div hidden>@Html.TextBoxFor(model => model.Gallons_requested, new { @type = "number", @id = "gallonsrequested" })</div>

        <span asp-validation-for="GallonsRequested" class="text-danger"></span>
        <br>
        <label for="deliveryaddress"><b>Delivery Address</b></label>

        @Html.TextBoxFor(model => model.Address ,new { @readonly="readonly"})

        <label for="deliverydate"><b>Delivery Date</b></label>
      //  <br /><div hidden> @Html.TextBoxFor(model => model.Delivery_date, new { @type = "datetime", @id = "delivery_date" })</div>
      <br>
        @Html.EditorFor(model => model.Delivery_date, new { htmlAttributes = new {@Value = DateTime.Now.AddDays(7),@placeholder="Provide the date in MM/dd/YYYY format" ,@id="date", @class = "form-control datepicker" } })

        //<input type="date" id="delivery_date1" name="date" class="form-control datepicker" required>
        <br>
        <label for="suggestedpricepergallon"><b>Suggested Price / gallon</b></label>
        <br>
        <input type="number" name="suggestedpricepergallon" id="suggestedpricepergallon1" value="2" onChange="totalamount();" readonly>
        <div hidden>@Html.TextBoxFor(model => model.price_per_gallon, new { @type = "number", @id = "suggestedpricepergallon" })</div>
        <br>

        <label for="totalamountdue"><b>Total Amount Due</b></label>
        <div>@Html.TextBoxFor(model => model.Total_amount, new { @type = "number", @id = "totalamountdue", @readonly = "readonly" })</div>



        <br>
        <button type="submit" class="registerbtn">Generate Quote</button>

    }
    <script>

        var ngallons, price, date;
        function totalamount() {
            ngallons = document.getElementById("gallonsrequested1").value;
            price = document.getElementById("suggestedpricepergallon1").value;
            result = ngallons * price;
            document.getElementById("totalamountdue").value = result;
            document.getElementById("gallonsrequested").value = ngallons;
            document.getElementById("suggestedpricepergallon").value = price;
            date = document.getElementById("delivery_date1").value;
            document.getElementById("delivery_date").value = date;
        }
    </script>

</body>
</html>

