@model IQueryable<FuelQuoteApplication14.Models.Quote>

@{
    ViewBag.Title = "QuoteHistoryView";
    Layout = "~/Views/Client/Client_Layout.cshtml";
}

<html>
<head>
    <title>Fuel quote History</title>
    <style>

        table {
            border-collapse: collapse;
            margin: 0 auto;
            width: 80%;
            height: 30%;
        }

        th, td {
            border: 3px solid green;
            padding: 15px;
        }

        body {
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <div>
        <img src="logo.jpeg" width="500" height="200" style="display:block;margin-left:auto;margin-right:auto;">
    </div>

    <table class="center">
        <tr>
            <th>ID</th>
            <th>Gallons Requested</th>
            <th>Delivery date</th>
            <th>Address</th>
            <th>Total amount</th>
        </tr>

        @foreach (var i in Model)
        {

            <tr>
                <td>@Html.DisplayFor(Modeli => i.Quote_id)</td>
                <td>@Html.DisplayFor(Modeli => i.Gallons_requested)</td>
                <td>@Html.DisplayFor(Modeli => i.Delivery_date)</td>
                <td>@Html.DisplayFor(Modeli => i.Address)</td>
                <td>@Html.DisplayFor(Modeli => i.Total_amount)</td>

            </tr>

        }
    </table>
</body>
</html>
